flows.json
[{"id":"4376ada5.718144","type":"tab","label":"UNIZAbot","disabled":false,"info":""},{"id":"26b627f.63247d8","type":"exec","z":"4376ada5.718144","command":"./skript.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"skript pre vycitanie zo stranky","x":470,"y":60,"wires":[["1f5f031a.5fbb1d"],[],[]]},{"id":"84a02683.3ff268","type":"debug","z":"4376ada5.718144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":620,"wires":[]},{"id":"97852fe6.17b12","type":"inject","z":"4376ada5.718144","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["26b627f.63247d8","767baab3.0ecc54"]]},{"id":"a2525f25.fe3b2","type":"cheerio","z":"4376ada5.718144","name":"Najdi tabulky","tag":"table","ret":"html","as":"single","map":[],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":false,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":930,"y":280,"wires":[["6e251922.6f7e48"]]},{"id":"767baab3.0ecc54","type":"delay","z":"4376ada5.718144","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":180,"wires":[["5a0bacad.83bff4"]]},{"id":"6e251922.6f7e48","type":"function","z":"4376ada5.718144","name":"Vrat Tretiu Tabulku","func":"var text = msg.payload[2];\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":400,"wires":[["8ac7d14b.39bea"]]},{"id":"8ac7d14b.39bea","type":"split","z":"4376ada5.718144","name":"Rozdel na <tr class=","splt":"<tr class=","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":420,"y":400,"wires":[["bc4ba543.735ad8"]]},{"id":"bc4ba543.735ad8","type":"function","z":"4376ada5.718144","name":"Vsetko medzi <> vymaz a nahrad _","func":"var text = msg.payload;\ntext = text.replace(/<.*?>/g ,\"_\");\ntext = text.replace(/.*>/,\"\");\ntext = text.replace(/(_)\\1{1,}/g,\"_\");\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":400,"wires":[["bce069f6.c0a568"]]},{"id":"1e0e554e.dc77bb","type":"iconvfile-in","z":"4376ada5.718144","name":"Nacitaj_Subor_S_TelomHTML","filename":"","format":"string","charset":"windows-1250","chunk":false,"sendError":false,"x":410,"y":280,"wires":[["a2525f25.fe3b2"]]},{"id":"bce069f6.c0a568","type":"function","z":"4376ada5.718144","name":"objekt predmet","func":"var rawData = msg.payload;\nif(msg.parts.index > 1){\n    var pole = rawData.split(\"_\");\n    var predmet = {};\n    \n    if(pole.length== 9){\n        predmet.meno = pole[1];\n        predmet.znamka = pole[5];\n        predmet.kredit = pole[6];\n        predmet.semester = flow.get(\"semester\");\n        msg.payload = predmet;\n        return msg;\n        \n    }\n    else if(pole.length == 10){\n        predmet.meno = pole[1];\n        predmet.znamka = pole[5];\n        predmet.kredit = pole[6];\n        predmet.semester = flow.get(\"semester\");\n        msg.payload = predmet;\n        return msg;\n        \n    }\n    else if(pole.length == 6 || pole.length== 7){\n        predmet.meno = pole[1];\n        predmet.znamka = \"N/A\"\n        predmet.kredit = pole[4];\n        predmet.semester = flow.get(\"semester\");\n        msg.payload = predmet;\n        return msg;\n    }\n    \n    else if(pole.length == 13){\n        predmet.meno = pole[1];\n        predmet.znamka = \"N/A\";\n        predmet.kredit = pole[4];\n        msg.payload = predmet;\n        predmet.semester = flow.get(\"semester\");\n        msg.complete = true;\n        return msg;\n    }\n    else if(pole.length == 16){\n        predmet.meno = pole[1];\n        predmet.znamka = pole[5];\n        predmet.kredit = pole[6];\n        msg.payload = predmet;\n        predmet.semester = flow.get(\"semester\");\n        msg.complete = true;\n        return msg;\n    }\n    //tuto by som mohol este dorobit celkove hodnotenia, lebo tie su v poslednej sprave\n    \n    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":400,"wires":[["77d05569.910e4c"]]},{"id":"77d05569.910e4c","type":"join","z":"4376ada5.718144","name":"pole predmetov","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":160,"y":520,"wires":[["ff3977d1.f7f538","3d63c664.30365a","84a02683.3ff268"]]},{"id":"aad7051d.385788","type":"function","z":"4376ada5.718144","name":"uprac premenne","func":"var newVal = {predmety:msg.payload, pozicia:msg.pozicia,chatId:msg.chatId};\n\nif(msg.pozicia == msg.velkost-2){\n    msg.complete = true;\n}\nmsg.payload = newVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":640,"wires":[["ddeed37b.4541b"]]},{"id":"ff3977d1.f7f538","type":"delay","z":"4376ada5.718144","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":640,"wires":[["aad7051d.385788"]]},{"id":"3d63c664.30365a","type":"function","z":"4376ada5.718144","name":"porovnaj nove a ulozene data, vrat rozdiel","func":"var pom = flow.get(\"predmety\");\nmsg.predmetyStare = pom.payload;\n//var predmetyStare = ulozene[msg.pozicia].predmety;\nvar predmetyNove = {};\npredmetyNove = msg.payload;\nvar novaZnamka;\n\nfor(var i in predmetyNove){\n    if(msg.predmetyStare[msg.pozicia].predmety[i].znamka != predmetyNove[i].znamka){\n        novaZnamka = predmetyNove[i].meno + \"-> \" + predmetyNove[i].znamka;\n        msg.payload.content = \"Nová Známka ! \\n\" + novaZnamka;\n        return msg;\n    }\n}\nmsg.payload = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":520,"wires":[["435c80a6.64d8a"]]},{"id":"435c80a6.64d8a","type":"function","z":"4376ada5.718144","name":"posun spravu iba ak je nenulova","func":"if(msg.payload.length > 0){\n    \n    msg.payload.chatId = msg.chatId;\n    msg.payload.type = \"message\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":520,"wires":[["5f08bd74.0f2b54"]]},{"id":"5f08bd74.0f2b54","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":1190,"y":520,"wires":[[]]},{"id":"fda65dab.c1504","type":"telegram command","z":"4376ada5.718144","name":"predmety","command":"/predmety","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":200,"y":780,"wires":[["b6bf177c.83b558"],[]]},{"id":"645324b6.836bcc","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":650,"y":780,"wires":[[]]},{"id":"b6bf177c.83b558","type":"function","z":"4376ada5.718144","name":"posli zoznam predmetov","func":"var predmety = flow.get(\"predmety\");\nvar vysledok = \"predmet: \";\nvar znamka = \"  znamka: \";\nvar kredit = \"  kredity: \";\nvar chatId = msg.payload.chatId;\nvar pom = {};\npom = predmety.payload;\nvar pos = predmety.payload.map(function(e) { return e.chatId; }).indexOf(chatId.toString());\nmsg.pos = pos;\n\nvar predmetyUzivatela = pom[pos].predmety;\nfor(var i in predmetyUzivatela){\n    vysledok += predmetyUzivatela[i].meno +\"\\n\"+ znamka + predmetyUzivatela[i].znamka +\"\\n\"+ kredit + predmetyUzivatela[i].kredit +\"\\n\"+\"\\n\";\n}\nmsg.pu = predmetyUzivatela;\nmsg.payload.content = vysledok;\nmsg.payload.chatId = chatId;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":780,"wires":[["645324b6.836bcc"]]},{"id":"1f5f031a.5fbb1d","type":"function","z":"4376ada5.718144","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":40,"wires":[[]]},{"id":"e69b9f7e.2336","type":"function","z":"4376ada5.718144","name":"pole chatId","func":"var chatId = msg.payload;\nvar poleChatId = chatId.split(/\\r?\\n/);\n\nmsg.payload = poleChatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["981903b.da995"]]},{"id":"5a0bacad.83bff4","type":"exec","z":"4376ada5.718144","command":"./skriptVratChatId.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"./skriptVratChatId.sh","x":420,"y":180,"wires":[["e69b9f7e.2336"],[],[]]},{"id":"981903b.da995","type":"split","z":"4376ada5.718144","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":180,"wires":[["1a386a61.97fe66"]]},{"id":"e2188af3.8837a8","type":"function","z":"4376ada5.718144","name":"payload -> filename","func":"if(msg.payload != \"\"){\n    msg.filename = \"/home/ubuntu/\" + msg.payload + \".txt\";\n    msg.chatId = msg.payload;\n    msg.pozicia = msg.parts.index;\n    msg.velkost = msg.parts.count;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1170,"y":180,"wires":[["1e0e554e.dc77bb"]]},{"id":"1a386a61.97fe66","type":"delay","z":"4376ada5.718144","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":180,"wires":[["e2188af3.8837a8"]]},{"id":"ddeed37b.4541b","type":"join","z":"4376ada5.718144","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":640,"wires":[["dd259dd8.76cf5"]]},{"id":"dd259dd8.76cf5","type":"function","z":"4376ada5.718144","name":"uloz","func":"\nflow.set('predmety',msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":640,"wires":[[]]},{"id":"6394368e.af8e68","type":"telegram command","z":"4376ada5.718144","name":"setup","command":"/setup","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":840,"wires":[["b7af85a7.78af28"],[]]},{"id":"a4ea3dd5.bf9a5","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":1410,"y":1020,"wires":[[]]},{"id":"b7af85a7.78af28","type":"function","z":"4376ada5.718144","name":"","func":"msg.payload.content = \"Pošli mi svoje prihlasovacie údaje na vzelávanie v tvare:\\nmeno:heslo\\nPríklad ak sa voláš Jožko Mrkvička:\\nmrkvicka3:nbusr123\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":840,"wires":[["a4ea3dd5.bf9a5"]]},{"id":"5425125c.481d3c","type":"file","z":"4376ada5.718144","name":"","filename":"/home/ubuntu/info.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1240,"y":840,"wires":[["a72d7152.7bf9"]]},{"id":"53bb0475.6e8adc","type":"function","z":"4376ada5.718144","name":"if contains : naformatuj string","func":"if(msg.payload.content.indexOf('/') == -1){\nvar string;\nif(msg.payload.content.indexOf(':') != -1){\n    string = msg.payload.content + \":\" + msg.payload.chatId.toString();\n    msg.payload = string;\n    return [msg,null];\n    \n}\nelse{\n    msg.payload.content = \"Velký špatný \\n Skús ešte raz\";\n    msg.payload.chatId  = msg.originalMessage.from.id;\n    msg.payload.type = \"message\";\n    return[null,msg];\n}\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":960,"y":840,"wires":[["5425125c.481d3c"],["a4ea3dd5.bf9a5"]]},{"id":"a051dd60.13655","type":"telegram receiver","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","saveDataDir":"/home/ubuntu","filterCommands":false,"x":670,"y":840,"wires":[["53bb0475.6e8adc"],[]]},{"id":"a72d7152.7bf9","type":"function","z":"4376ada5.718144","name":"nastav spravu","func":"msg.payload = {};\nmsg.payload.content = \"Hotovo ;)\";\nmsg.payload.chatId  = msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":840,"wires":[["a4ea3dd5.bf9a5"]]},{"id":"c0d5565e.287588","type":"telegram bot","botname":"UNIZAbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]