flows.json
[{"id":"4376ada5.718144","type":"tab","label":"UNIZAbot","disabled":false,"info":""},{"id":"26b627f.63247d8","type":"exec","z":"4376ada5.718144","command":"./skrip.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"skript pre vycitanie zo stranky","x":470,"y":60,"wires":[["1f5f031a.5fbb1d"],[],[]]},{"id":"97852fe6.17b12","type":"inject","z":"4376ada5.718144","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":60,"wires":[["26b627f.63247d8","767baab3.0ecc54"]]},{"id":"767baab3.0ecc54","type":"delay","z":"4376ada5.718144","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":180,"wires":[["5a0bacad.83bff4"]],"info":"caka, aby sa stihol vratit packet so strankou"},{"id":"77d05569.910e4c","type":"join","z":"4376ada5.718144","name":"pole predmetov","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":120,"y":400,"wires":[["dd65aa21.0ae628"]]},{"id":"aad7051d.385788","type":"function","z":"4376ada5.718144","name":"uprac premenne","func":"var newVal = {predmety:msg.payload, pozicia:msg.pozicia,chatId:msg.chatId};\nnode.warn(newVal);\n\nif(msg.pozicia == msg.velkost-2){\n    msg.complete = true;\n}\nmsg.payload = newVal;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["ddeed37b.4541b"]]},{"id":"ff3977d1.f7f538","type":"delay","z":"4376ada5.718144","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":200,"y":640,"wires":[["aad7051d.385788"]]},{"id":"3d63c664.30365a","type":"function","z":"4376ada5.718144","name":"porovnaj nove a ulozene data, vrat rozdiel","func":"var pom = flow.get(\"predmety\");\nmsg.predmetyStare = pom.payload;\nvar predmetyNove = {};\npredmetyNove = msg.payload;\nvar novaZnamka;\n\nfor(var i in predmetyNove){\n    if(msg.predmetyStare[msg.pozicia].predmety[i].znamka != predmetyNove[i].znamka){\n        novaZnamka = predmetyNove[i].meno + \"-> \" + predmetyNove[i].znamka;\n        msg.payload.content = \"Nová Známka ! \\n\" + novaZnamka;\n        return msg;\n    }\n}\nmsg.payload = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":520,"wires":[["435c80a6.64d8a"]]},{"id":"435c80a6.64d8a","type":"function","z":"4376ada5.718144","name":"posun spravu iba ak je nenulova","func":"if(msg.payload.length > 0){\n    \n    msg.payload.chatId = msg.chatId;\n    msg.payload.type = \"message\";\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":520,"wires":[["5f08bd74.0f2b54"]]},{"id":"b6bf177c.83b558","type":"function","z":"4376ada5.718144","name":"posli zoznam predmetov","func":"var predmety = flow.get(\"predmety\");\nvar vysledok = \"predmet: \";\nvar znamka = \"  znamka: \";\nvar kredit = \"  kredity: \";\nvar chatId = msg.payload.chatId;\nvar pom = {};\npom = predmety.payload;\nvar pos = predmety.payload.map(function(e) { return e.chatId; }).indexOf(chatId.toString());\nmsg.pos = pos;\n\nvar predmetyUzivatela = pom[pos].predmety;\nfor(var i in predmetyUzivatela){\n    vysledok += predmetyUzivatela[i].meno +\"\\n\"+ znamka + predmetyUzivatela[i].znamka +\"\\n\"+ kredit + predmetyUzivatela[i].kredit +\"\\n\"+\"\\n\";\n}\nmsg.pu = predmetyUzivatela;\nmsg.payload.content = vysledok;\nmsg.payload.chatId = chatId;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":780,"wires":[["645324b6.836bcc"]]},{"id":"1f5f031a.5fbb1d","type":"function","z":"4376ada5.718144","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":40,"wires":[[]]},{"id":"e69b9f7e.2336","type":"function","z":"4376ada5.718144","name":"pole chatId","func":"var chatId = msg.payload;\nvar poleChatId = chatId.split(/\\r?\\n/);\n\nmsg.payload = poleChatId;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":180,"wires":[["981903b.da995"]]},{"id":"5a0bacad.83bff4","type":"exec","z":"4376ada5.718144","command":"./skriptVratChatId.sh","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"./skriptVratChatId.sh","x":420,"y":180,"wires":[["e69b9f7e.2336"],[],[]]},{"id":"981903b.da995","type":"split","z":"4376ada5.718144","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":180,"wires":[["1a386a61.97fe66"]]},{"id":"e2188af3.8837a8","type":"function","z":"4376ada5.718144","name":"payload -> filename","func":"if(msg.payload != \"\"){\n    msg.filename = \"/home/ubuntu/\" + msg.payload + \".txt\";\n    msg.chatId = msg.payload;\n    msg.pozicia = msg.parts.index;\n    msg.velkost = msg.parts.count;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":180,"wires":[["caef4582.fa2158"]]},{"id":"1a386a61.97fe66","type":"delay","z":"4376ada5.718144","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":960,"y":180,"wires":[["e2188af3.8837a8"]]},{"id":"ddeed37b.4541b","type":"join","z":"4376ada5.718144","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":640,"wires":[["dd259dd8.76cf5"]]},{"id":"dd259dd8.76cf5","type":"function","z":"4376ada5.718144","name":"uloz","func":"\nflow.set('predmety',msg);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":640,"wires":[[]]},{"id":"b7af85a7.78af28","type":"function","z":"4376ada5.718144","name":"","func":"msg.payload.content = \"Pošli mi svoje prihlasovacie údaje na vzelávanie v tvare:\\nmeno:heslo\\nPríklad ak sa voláš Jožko Mrkvička:\\nmrkvicka3:nbusr123\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":840,"wires":[["a4ea3dd5.bf9a5"]]},{"id":"5425125c.481d3c","type":"file","z":"4376ada5.718144","name":"","filename":"/home/ubuntu/info.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1240,"y":840,"wires":[["a72d7152.7bf9"]]},{"id":"53bb0475.6e8adc","type":"function","z":"4376ada5.718144","name":"if contains : naformatuj string","func":"if(msg.payload.content.indexOf('/') == -1){\nvar string;\nif(msg.payload.content.indexOf(':') != -1){\n    string = msg.payload.content + \":\" + msg.payload.chatId.toString();\n    msg.payload = string;\n    return [msg,null];\n    \n}\nelse{\n    msg.payload.content = \"Velký špatný \\n Skús ešte raz\";\n    msg.payload.chatId  = msg.originalMessage.from.id;\n    msg.payload.type = \"message\";\n    return[null,msg];\n}\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":840,"wires":[["5425125c.481d3c"],["a4ea3dd5.bf9a5"]]},{"id":"a72d7152.7bf9","type":"function","z":"4376ada5.718144","name":"nastav spravu","func":"msg.payload = {};\nmsg.payload.content = \"Hotovo ;)\";\nmsg.payload.chatId  = msg.originalMessage.from.id;\nmsg.payload.type = \"message\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":840,"wires":[["a4ea3dd5.bf9a5"]]},{"id":"a2525f25.fe3b2","type":"cheerio","z":"4376ada5.718144","name":"Najdi tabulky","tag":"table","ret":"html","as":"single","map":[],"xmlMode":false,"decodeEntities":false,"lowerCaseTags":false,"lowerCaseAttributeNames":false,"recognizeCDATA":false,"recognizeSelfClosing":false,"x":810,"y":280,"wires":[["373556d8.3ba43a"]]},{"id":"a051dd60.13655","type":"telegram receiver","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","saveDataDir":"/home/ubuntu","filterCommands":false,"x":670,"y":840,"wires":[["53bb0475.6e8adc"],[]]},{"id":"fda65dab.c1504","type":"telegram command","z":"4376ada5.718144","name":"predmety","command":"/predmety","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":200,"y":780,"wires":[["b6bf177c.83b558"],[]]},{"id":"6394368e.af8e68","type":"telegram command","z":"4376ada5.718144","name":"setup","command":"/setup","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":90,"y":840,"wires":[["b7af85a7.78af28"],[]]},{"id":"5f08bd74.0f2b54","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":1410,"y":520,"wires":[[]]},{"id":"645324b6.836bcc","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":650,"y":780,"wires":[[]]},{"id":"a4ea3dd5.bf9a5","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":1410,"y":1020,"wires":[[]]},{"id":"373556d8.3ba43a","type":"split","z":"4376ada5.718144","name":"","splt":"tbody>","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":280,"wires":[["3d91a9a0.bff4f6"]]},{"id":"f4a1cdb5.13071","type":"html","z":"4376ada5.718144","name":"","property":"payload","outproperty":"payload","tag":"tr","ret":"html","as":"multi","x":810,"y":360,"wires":[["a702b389.a41f3"]]},{"id":"3d91a9a0.bff4f6","type":"function","z":"4376ada5.718144","name":"vrat msg.part == 2","func":"if(msg.parts.index ==2){\n    msg.decodeEntities = true;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":280,"wires":[["f4a1cdb5.13071"]]},{"id":"a702b389.a41f3","type":"html","z":"4376ada5.718144","name":"","property":"payload","outproperty":"payload","tag":"td","ret":"html","as":"single","x":990,"y":360,"wires":[["fe6b956d.89ff08"]]},{"id":"50cdebca.997bc4","type":"comment","z":"4376ada5.718144","name":"odizoluj riadky tabulky","info":"","x":1260,"y":320,"wires":[]},{"id":"fe6b956d.89ff08","type":"function","z":"4376ada5.718144","name":"objekt predmet","func":"\nif(msg.payload.length > 0){\n    if(msg.payload[0].includes(\"Priemer\")){\n        msg.payload = \"\";\n        msg.complete = true;\n        return msg;\n    }\n    else if(msg.payload[0].includes(\"Letn\")){\n        flow.set('semester',\"leto\");\n    }\n    else if(msg.payload[0].includes(\"Zimn\")){\n        flow.set('semester',\"zima\");\n    }\n}\n\nif(msg.payload.length == 10){\n    var predmet = {};\n     predmet.meno = msg.payload[0];\n     predmet.znamka = msg.payload[7];\n     predmet.kredit = msg.payload[8];\n     predmet.semester = flow.get(\"semester\");\n     msg.payload = predmet;\n     return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":360,"wires":[["77d05569.910e4c"]]},{"id":"dd65aa21.0ae628","type":"function","z":"4376ada5.718144","name":"precisti pole ","func":"\n\nvar filteredArr = msg.payload.filter(function (elem) {\n    return elem !== undefined;\n});\n\nfilteredArr = filteredArr.filter(function (elem) {\n    return elem !== \"\";\n});\n\nmsg.payload = filteredArr;\n\n\nvar he = global.get('he');\n\nfor(let predmet of msg.payload){\n    predmet.meno = he.decode(predmet.meno);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":400,"wires":[["3d63c664.30365a","ff3977d1.f7f538","92b443e1.dbcf9"]]},{"id":"caef4582.fa2158","type":"file in","z":"4376ada5.718144","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":610,"y":280,"wires":[["a2525f25.fe3b2"]]},{"id":"92b443e1.dbcf9","type":"debug","z":"4376ada5.718144","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":460,"wires":[]},{"id":"f88db0f9.ff5e9","type":"function","z":"4376ada5.718144","name":"posli zoznam predmetov","func":"var predmety = flow.get(\"predmety\");\nvar vysledok = \"predmet: \";\nvar znamka = \"  znamka: \";\nvar kredit = \"  kredity: \";\nvar chatId = msg.payload.chatId;\nvar pom = {};\npom = predmety.payload;\nvar pos = predmety.payload.map(function(e) { return e.chatId; }).indexOf(chatId.toString());\nmsg.pos = pos;\n\nvar predmetyUzivatela = pom[pos].predmety;\n\nfor(var i in predmetyUzivatela){\n    if(predmetyUzivatela[i].semester == \"zima\"){\n        vysledok += predmetyUzivatela[i].meno +\"\\n\"+ znamka + predmetyUzivatela[i].znamka +\"\\n\"+ kredit + predmetyUzivatela[i].kredit +\"\\n\"+\"\\n\";\n    }\n}\nmsg.pu = predmetyUzivatela;\nmsg.payload.content = vysledok;\nmsg.payload.chatId = chatId;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":960,"wires":[["e0cc033c.cb2d7"]]},{"id":"86147012.9a35f","type":"telegram command","z":"4376ada5.718144","name":"zimny semester","command":"/zima","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":960,"wires":[["f88db0f9.ff5e9"],[]]},{"id":"e0cc033c.cb2d7","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":630,"y":960,"wires":[[]]},{"id":"39b0bb17.80f9c4","type":"function","z":"4376ada5.718144","name":"posli zoznam predmetov","func":"var predmety = flow.get(\"predmety\");\nvar vysledok = \"predmet: \";\nvar znamka = \"  znamka: \";\nvar kredit = \"  kredity: \";\nvar chatId = msg.payload.chatId;\nvar pom = {};\npom = predmety.payload;\nvar pos = predmety.payload.map(function(e) { return e.chatId; }).indexOf(chatId.toString());\nmsg.pos = pos;\n\nvar predmetyUzivatela = pom[pos].predmety;\n\nfor(var i in predmetyUzivatela){\n    if(predmetyUzivatela[i].semester == \"leto\"){\n        vysledok += predmetyUzivatela[i].meno +\"\\n\"+ znamka + predmetyUzivatela[i].znamka +\"\\n\"+ kredit + predmetyUzivatela[i].kredit +\"\\n\"+\"\\n\";\n    }\n}\nmsg.pu = predmetyUzivatela;\nmsg.payload.content = vysledok;\nmsg.payload.chatId = chatId;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1020,"wires":[["9b28fed5.0fa19"]]},{"id":"c8cd5802.432cd8","type":"telegram command","z":"4376ada5.718144","name":"letny semester","command":"/leto","bot":"c0d5565e.287588","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":120,"y":1020,"wires":[["39b0bb17.80f9c4"],[]]},{"id":"9b28fed5.0fa19","type":"telegram sender","z":"4376ada5.718144","name":"","bot":"c0d5565e.287588","haserroroutput":false,"outputs":1,"x":630,"y":1020,"wires":[[]]},{"id":"c0d5565e.287588","type":"telegram bot","botname":"UNIZAbot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":true}]